<!-- create-book/create-book.component.html -->
<div>
  <h2>Criar Livro</h2>

  <div>
    <label>Título:</label>
    <span style="margin: 54px;"></span>
    <input type="text" [(ngModel)]="title" required />
  </div>

  <div>
    <label>Valor:</label>
    <span style="margin: 56px;"></span>
    <input type="number" [(ngModel)]="value" required />
  </div>

  <div>
    <label>Forma de Compra:</label>
    <span style="margin: 10px;"></span>
    <input type="text" [(ngModel)]="purchaseForm" required />
  </div>

  <br/><br/>

  <div>
    <label>Autores:</label>
    <div *ngFor="let author of authors">
      <input type="checkbox" 
             [checked]="author.isChecked" 
             (change)="onAuthorChange(author)" /> {{ author.name }}
    </div>
  </div>

  <br/><br/>

  <div>
    <label>Assuntos:</label>
    <div *ngFor="let subject of subjects">
      <input type="checkbox" 
             [checked]="subject.isChecked" 
             (change)="onSubjectChange(subject)" /> {{ subject.description }}
    </div>
  </div>
  
  <br/>

  <button (click)="onSubmit()">Salvar</button>
</div>